## VS code stuffs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

## Modelsim
[_@]*

# ignore compilation output of ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf
*.mpf

# ignore simulation output of ModelSim
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg

# From skywater-template repo
alib-52
checksum_info.txt
crte_*.txt
default.svf
DESIGN_LIBS
dw_*
*.gz
innovus.cmd*
innovus/DBS
innovus/GDS
innovus/HDL
innovus/innovus.cmd*
innovus.log*
innovus/*.log*
innovus/RPT
innovus/timingReports
*.cts.*
*.rpt
Synopsys_*.txt
*.wlf
work
project_1/*.cache
transcript
vivado.jou
*.cr.mti
*_mapped.v
*.ddc